
main, header , footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    width: 100%;

}

footer a{
    color: black;
}
.defaultContainer{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    background-color: rgb(190,190,190, 32%);
    border: 2px solid #1a1919;
}
